
#map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#navBar{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    z-index: 810;
    background: white;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search{
    width: 200px;
}

#tab_results {
    margin-top: 10px;
    height: 600px;
    overflow-y: scroll;
}
